.env
.env.*
!.env.example
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/vector_db/*
!data/vector_db/.gitkeep
models/*
!models/.gitkeep
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
build/
dist/
